body{margin:0;font-size:12px;font-family:Tahoma;line-height:20px;cursor:default;background-color: #ffffff;color: #333333;overflow: hidden;}
*{background-repeat:no-repeat}
.blockLink a,.noHideBlockLink a{display:block;height:100%;overflow:hidden;text-indent:-99999px}
.blockTextLink a,.noHideBlockTextLink a{display:block;height:100%;text-align:center}
a{text-decoration:none}
a span{cursor:pointer}
ul{margin:0;padding:0;list-style-type:none}
dl{margin:0}
dd{margin-left:0}
table{border-spacing:0;border-collapse:collapse}
td{vertical-align:top;padding:0}
.hide{display:none}
i{font-style: normal;}
.strong{font-weight:700}
.clear{clear:both;height:0;overflow:hidden}
.clearfix:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.clearfix{_display:inline-block}
.hideText{text-indent:-99999px;overflow:hidden}
img{border-width:0}
iframe.popupIframe{position:absolute;width:100%;top:0;left:0;z-index:-1;_filter:alpha(opacity=0)}
textarea.lazyLoad{display:none}
h1{margin:0}
.HorizontalScroll .wrapper{overflow:hidden;width:100%;height:100%}
.HorizontalScroll .wrapper ul{width:10000px;height:100%}
.HorizontalScroll .wrapper ul li{float:left}
#sizeTester{position:absolute;top:0;left:0;width:100%;height:100%}
.font-yahei{font-family: 微软雅黑, 黑体;}
.font14{font-size:14px;}
.gray{color:#747373;}
.orange{color:#fa9900;}
.left{float:left;}
.right{float:right;}
.cursor{cursor:pointer;}
a , a:hover{ color: #38599E;}
a.a_btn,a.a_btn:hover{color:#38599E;}
.red {color: #FF5959;}
.blue{color:#38599e;}
.gray{color:#959595;}
.green{color:#339900;}

/*表单*/
/*.formMod{margin-bottom:15px;}*/
.formMod .l{float:left;display:inline;height:30px;line-height:30px; text-align:right;font-size:14px;margin-right:10px;color:#6c6c6c}
.formMod .l i{color:#de0000;font-style:normal;margin:0 0 0 5px;width:12px;display:inline-block;}
.formMod .r{float:left;display:inline;}

/*输入框*/
.formText{float:left;display:inline; position:relative; z-index:1;}
.formText label.txtLabel{color:#999; position:absolute;font-size:14px;left:7px;top:4px;left:6px \9\0;top:5px \9\0;*left:6px;*top:5px; cursor:text;}
.formText input.text{height:28px;line-height:28px;border:1px solid #cfcfcf;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;padding:0 5px;color:#333;background:#fff;font-size:12px;}/*输入框默认状态*/
.formText input.text::-ms-clear{display:none;}
.formText input.text::-ms-reveal{display:none;}
.formText input.textGray{color:#ccc;}/*输入框默认灰色文字状态*/
.formText input.textDis{background:#f2f2f2;color:#ccc;}
.formText input.error{height:28px;line-height:28px;border:1px solid #f1aaa9;background:#fff3f3;box-shadow:0 0 3px #f1aaa9;}/*输入框判断错误*/
.formText input.focus{height:28px;line-height:28px;border:1px solid #9fcdd6;background:#f2fcfe;box-shadow:0 0 5px #9fcdd6;}
.formText input.disText{background:#f3f3f3;}
.formMod .tipTxt{float:left;display:inline;margin-left:5px;height:30px;line-height:30px;font-size:12px;}
.formMod .tipAry{color:#999;}
.formMod .tipEro{color:#b63d31;}
.formMod .tipEro i{font-size:16px;margin:0 3px 0 0;}
.formMod .font14{font-size:14px;}
/*文本域*/
.formTextarea{float:left;display:inline;position:relative; z-index:1;}
.formTextarea label.txtLabel{color:#999; position:absolute;font-size:14px;left:7px;top:4px;left:6px \9\0;top:5px \9\0;*left:6px;*top:5px; cursor:text;}
.formTextarea textarea.textarea{width:425px;height:140px;border:1px solid #cfcfcf;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;color:#333;background:#fff;font-size:14px;line-height:28px;display:block;padding:0 0 0 5px;}
.formTextarea .textareaTxt{display:block;height:22px;line-height:22px;background:#f2f2f2;font-style:italic;width:447px; text-align:right;padding:0 10px 0 0;font-size:12px;color:#999;}
.formTextarea .textareaTxt i{font-style:italic;color:#333;font-size:14px;font-weight:bold;margin:0 5px;}
.formTextarea textarea.error{border:1px solid #dfc1c1;background:#fff3f3;box-shadow:0 0 3px #f1aaa9;}
.formTextarea textarea.focus{border:1px solid #9fcdd6;background:#F2FCFE;box-shadow:0 0 5px #9fcdd6;}

/*下拉框*/
.drop {
height: 28px;
float: left;
display: inline;
border: 1px solid #d8d8d8;
border-right: 1px solid #e8e8e8;
border-bottom: 1px solid #ddd;
position: relative;
z-index: 1;
cursor: pointer;
margin-right: 6px;
}

/*自动补全*/
.autTemp{border: 1px solid #dadada;background:#fff;overflow: hidden;z-index: 99999; text-align:left;}
.autTempLst p.autTempTxt{font-size:12px;height:26px;line-height:26px;padding-left:5px;font-weight:normal;background:#f5f5f5;border-bottom:1px solid #eee;}
.autTempLst ul{width: 100%;}
.autTempLst ul li{padding:2px 5px;cursor:pointer;display: block;font-size: 12px;overflow: hidden;height:25px;line-height:25px; vertical-align:bottom;}
.autTempLoad{background:url(/images/p/loading.gif) center center no-repeat #fff;}
.autTempLst ul li.hov{background:#f1f1f1;}
.autTempLst ul li .autTempL{float:left;display:inline;width:205px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;height:25px;line-height:25px;}
.autTempLst ul li .autTempR{float:right;display:inline;text-align:right;width:70px;height:25px;line-height:25px;color:#999;}
.autTempLst ul li.hov .autTempR{}
.autTempLst ul li .autTempR em{}
.autTempLst ul li.hov .autTempR em{}
.autTemp .autTempLst .noData{background:none;}

/*定位层*/
.tipPos{position:relative;padding-right:10px;font-size:12px;float:left;display:inline;top:0;left:12px;height:10px; z-index:1; width:300px; line-height:10px;}
.tipLay{ position:absolute;left:0;top:0;}
.tipLay .tipArr{ position:absolute;left:-4px;top:11px;width:4px;height:6px;font-size:0;line-height:0;background:url(/images/common.gif) no-repeat 0 0; z-index:4;}
.tipLayTxt{line-height:28px;border:1px solid #c3c3c3;background:#fafafa;color:#333;display:inline-block;padding:0 5px; text-align:left; position:relative; z-index:3;}
.tipw40{width:40px;}
.tipw50{width:50px;}
.tipw80{width:80px;}
.tipw100{width:100px;}
.tipw120{width:120px;}
.tipw110{width:110px;}
.tipw150{width:150px;}
.tipw180{width:180px;}
.tipw200{width:200px;}
.tipw220{width:220px;}
.tipw245{width:245px;}
.tipw280{width:280px;}
.tipError{}
.tipLayErr{line-height:28px;color:#D66564;border:1px solid #D66564;background:url(/images/common.gif) no-repeat 0 0;color:#333;display:inline-block;padding:0 5px; text-align:left; position:relative; z-index:3;}
.tipLay .tipLayErr .tipArr{background-position:0 -6px;}

/*单个地点选择*/
.addressMod .drop{ cursor:default;background:#fff;}
.addressMod .drop input.text{border:0;margin:3px 0 0;height:20px;line-height:20px;width:67px;}
.addressMod .drop input.focus{background:#fff;box-shadow:none;}
.addressMod .drop ul li{float:left;display:inline;width:70px;font-size:12px;padding:0;height:30px;line-height:30px;cursor:default; text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.addressMod .drop ul li.hov{background:none;}
.addressMod .drop ul li a{padding:3px 8px;}
.addressMod .drop ul li a:hover{background:#f7f7f7;}
.addressMod .drop .dropLstCon{width:420px;font-size:12px;}
.addressMod .drop .dropLst{padding:5px;zoom:1;}

/*上传文件*/
.formFile{position:relative; z-index:1; height:22px; line-height:22px; display:block;}
.formFile input.file{position:absolute; height:29px; width:80px;filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity:0; left:0; cursor:pointer; top:0;}
hgroup{padding:20px;zoom:1;}
.section .mod{}
.section .mod h2{font-size:18px;height:35px;line-height:35px;border-bottom:1px solid #dadada;padding:0 0 0 20px;}
.mod .formMod .l{width:195px;}
.mod .formMod .r{width:755px;}
.mod .form{padding:20px 0 15px;}

#fstNav hgroup{padding:10px 40px; z-index:1}
.rate{overflow:hidden;line-height:30px;}
.rate b{float:left;display:inline;width:85px;}
.rate .bar{float:left;display:inline;margin:7px 10px 0;width:175px;}
.rate .rateNav{float:left;display:inline;margin:0 0 0 23px;width:610px;}
.rate .rateNav a{margin:0 5px;font-size:12px;}
section.sectionFix{position:fixed;top:0;left:50%;z-index:1002;margin-left:-500px;*margin-left:-501px;_margin-left:auto;width:1000px;border-bottom:1px solid #dadada;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;opacity:0.9;}
.fstBack{height:65px;display:none;}
.fstBackShow{display:block;_display:none;}
.comNTxt{ z-index:2;}
.comNTxt .tipLay{top:31px;left:-85px;}
.comNTxt .tipLay .tipArr{top:-4px;left:36px;width:8px;height:5px;background:url(//cdn.597.com/img/common/contrl.gif) no-repeat 0 0; z-index:2}
.comNTxt .tipLay .tipLayTxt{background:#fffce3;border:1px solid #fad5a8;width:390px;padding:0 5px 5px; position:relative; z-index:1;line-height:22px;}
.comNTxt .tipLay .tipLayTxt .closeThis{ position:absolute;font-size:12px;right:7px;top:4px;}
.comNTxt .tipLay .tipLayTxt p img{ vertical-align:middle;}
.logoImg{clear:both;width:100%;float:left; position:relative; z-index:1;width:185px;margin:10px 0 0;border:1px solid #dadada;height:70px;background:url(http://cdn.597.com/img/common/loadBox.gif) no-repeat center center;}
.logoImg img{width:185px;height:70px;}
.logoImg a.del{ position:absolute;right:-10px;top:-10px;font-size:22px;color:#D84D14;background:#fff;}
.logoImg a.del:hover{color:#cb4647;}
.touPeo{ z-index:2;}
.touPeo .tipLay{display:none;}
.formBtn{margin:25px 0 0 200px;}
.imgLst{clear:both;width:730px;float:left;margin:15px 0 0;display:inline;}
.imgLst ul li{float:left;display:inline; position:relative; z-index:1;width:122px;height:125px;margin:0 24px 5px 0;}
.imgLst ul li .pic{height:82px;}
.imgLst ul li .pic img{width:120px;height:80px;border:1px solid #dadada;}
.imgLst ul li a.del{position:absolute;right:-10px;top:-10px;font-size:22px;color:#D84D14;background:#fff; border-radius:15px;}
.imgLst ul li a.del:hover{color:#cb4647;}
.imgLst ul li .imgInp{margin:5px 0 0;}
.imgLst ul li .imgInp input.imgTxt{height:22px;line-height:22px;border:1px solid #fff;font-size:12px;width:120px; text-align:center; cursor:pointer;}
.imgLst ul li .imgInp input.imgTxtHov{border:1px solid #dadada;}
.imgLst ul li .load{display:none;width:120px;height:80px;border:1px solid #eaeaea;background:url(//cdn.597.com/img/common/loadBox.gif) no-repeat center center;}
.imgLst ul li .loadTxt{ text-align:center;font-size:12px;display:none;height:24px;line-height:24px;margin-top:5px;}
.imgLst ul li.hov .imgInp input.imgTxt{border:1px solid #aaa;}
.imgLst ul li.hov .pic img{border:1px solid #cbcbcb}
.imgLst ul li.imgLoading .load{display:block;}
.imgLst ul li.imgLoading .loadTxt{display:block;}
.imgLst ul li.imgLoading .pic,.imgLst ul li.imgLoading .imgInp,.imgLst ul li.imgLoading a.del{display:none;}
.comVd .tipTxt i.jpFntWes{font-size:18px;margin:0 5px 0 0; vertical-align:middle;}
.formMod .tipTxt{float:left;display:inline;margin-left:5px;height:30px;line-height:30px;font-size:12px;}
.mod .formMod .r .formFile{ position:relative; z-index:1;}
.mod .formMod .r .formFile .swfUploadBtn{ position:absolute;left:0;top:0;}
.formTextarea textarea.textarea{width:500px;}
a.btn3:link, a.btn3:visited {height: 28px;line-height: 28px;font-size: 14px;position: relative;z-index: 1;zoom: 1;background: #eee no-repeat -10px -402px;display: inline-block;color: #444;margin: 0 0px;text-shadow: 0 1px 1px #fff;padding: 0 10px;font-weight: normal;}
/*上传图片*/

@font-face {
	font-family: 'jpFntWes';
	src:url('//cdn.597.com/css/font/fontawesome.eot');
	src:url('//cdn.597.com/css/font/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('//cdn.597.com/css/font/fontawesome.woff') format('woff'),
		url('//cdn.597.com/css/font/fontawesome.ttf') format('truetype'),
		url('//cdn.597.com/css/font/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
.jpFntWes{
	font-family:'jpFntWes';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-size:22px;line-height:1;
}

