@charset utf-8;
html{font-family:sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;overflow-y:scroll;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display: block;}
audio,canvas,video{display: inline-block;}
audio:not([controls]){display: none;height: 0;}
[hidden]{display: none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,select,textarea,th,td,div{margin:0;padding:0;}
body,button,input,select,textarea{font:1rem 'Microsoft Yahei',Arial,Verdana,Helvetica,sans-serif;line-height:1.5;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
address,cite,dfn,em,var,caption,code,dfn,th{font-style:normal;font-weight:400;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
i{font-style:normal;}
ul,ol{list-style:none}
a{text-decoration:none;color:#424242;}
a:hover{text-decoration:underline;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:0;border-spacing:0;border-collapse:collapse;}
q:before,q:after{content:'';}
b,strong{font-weight: bold;}
body{font:0.8rem 'Microsoft Yahei',Arial,Verdana,Helvetica,sans-serif;line-height:1.5;text-align:center;background:#e8ecef;color:#444;word-wrap:break-word;word-break:break-all;word-break:normal;}
textarea{resize:none;}
textarea:focus,input:focus{outline: none;}

/*CSS reset*/
.clear{clear:both;height:0;line-height:0;overflow:hidden;font-size:0;}
.none{display:none;}.block{display:block;}.inlBlk{display:inline-block;}
.textLft{text-align:left;}.textRgt{text-align:right;}.textCent{text-align:center;}
.red,a.red:link,a.red:visited{color:#D66564;}
a.red:hover{color:#d10000;}
.gray{color:#a6a6a6;}
.orange,a.orange:link,a.orange:visited{color:#db5800;}
a.orange:hover{color:#ff7e00;}
.green,a.green:link,a.green:visited{color:#27b6a6;}
a.green:hover{color:#2fb238;}
.blue,a.blue:link,a.blue:visited{color:#2094D1;}
a.blue:hover{color:#16a6f2;}
.black,a.black:link,a.black:visited{color:#333;}
a.black:hover{color:#585858;}
.yellow,a.yellow:link,a.yellow:visited{color:#e1a811;}
a.yellow:hover{color:#df9b07;}
.strong{font-weight:bold;}
.underline{ text-decoration:underline;}
.through{text-decoration:line-through;}

a:hover{ text-decoration:none;}
a:active,a:focus{ outline:none;}


/*web-kit滚动条样式*/
::-webkit-scrollbar {width: 10px;}

/* Track */
::-webkit-scrollbar-track{background:#dcdcdc;}

/* Handle */
::-webkit-scrollbar-thumb{background:#c3c3c3;}
::-webkit-scrollbar-thumb:window-inactive{background:#c3c3c3;}


/*hbFntWes*/
@font-face {
	font-family: 'hbFntWes';
	src:url('/css/font/fontawesome.eot');
	src:url('/css/font/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('/css/font/fontawesome.woff') format('woff'),
		url('/css/font/fontawesome.ttf') format('truetype'),
		url('/css/font/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
.hbFntWes{
	font-family:'hbFntWes';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-size:18px;line-height:1;
}


.hbFntWes b{font-weight:normal;}
.hbFntWes i{font-style:normal;}
.hbFntWes a{display:inline-block;}

/*hbIconMoon*/
@font-face {
	font-family: 'hbIconMoon';
	src:url('/css/font/icomoon.eot');
	src:url('/css/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/css/font/icomoon.woff') format('woff'),
		url('/css/font/icomoon.ttf') format('truetype'),
		url('/css/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.hbIconMoon{
	font-family:'hbIconMoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-size:22px;line-height:1;
}

.hbIconMoon b{font-weight:normal;}
.hbIconMoon i{font-style:normal;}
.hbIconMoon a{display:inline-block;}
/*按钮*/
a.btnClose{font-size:20px;line-height:17px;height:20px;display:block;width:100%;}
a.btnsF16{height:43px;line-height:43px;font-size:1.2rem;border-radius:3px;display:block;width:100%;}
a.btnsF14{height:33px;line-height:33px;font-size:1rem;border-radius:3px;display:block;width:100%;}
a.btnsF12{height:28px;line-height:28px;font-size:0.8rem;border-radius:3px;display:block;width:100%;}
a.btn1:link,a.btn1:visited{color:#fff;background:#3d86bc;box-shadow:0 1px 0 #59a0d5 inset;border:1px solid #397eb2;
background-image: -moz-linear-gradient(top, #5496c7, #3d86bc);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5496c7), color-stop(1, #3d86bc));
}
a.btn1:hover{background:#1368a9;border:1px solid #207abc;}
a.btn1:active{background:#1368a9;box-shadow:0 3px 3px #0d4168 inset;border:1px solid #207abc;}

a.btn2:link,a.btn2:visited{color:#fff;background:#de6667;box-shadow:0 1px 0 #f5898a inset;border:1px solid #c85329;
background-image: -moz-linear-gradient(top, #de6667, #ca4c4d);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #de6667), color-stop(1, #ca4c4d));
}
a.btn2:hover{background:#cb4647;border:1px solid #e26538;}
a.btn2:active{background:#ae451f;border:1px solid #ae451f;box-shadow:0 3px 3px #812f11 inset;}

a.btn3:link,a.btn3:visited{color:#666;background-color:#f7f7f7;box-shadow:0 1px 0 #fff inset;border:1px solid #dadada;
background-image: -moz-linear-gradient(top, #fff, #ececec);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ececec));
}
a.btn3:hover{background-color:#eee;border:1px solid #ddd;
background-image: -moz-linear-gradient(top, #fff, #f1f1f1 5%);
background-image: -webkit-gradient(linear, 0 0, 0 5%, from(#fff), to(#f1f1f1));
}
a.btn3:active{background-color:#eee;background-image:none;border:1px solid #dadada;box-shadow:0 3px 3px #ccc inset;}

a.btn4:link,a.btn4:visited{color:#fff;background:#65be63;box-shadow:0 1px 0 #7ee77c inset;border:1px solid #51b94f;
background-image: -moz-linear-gradient(top, #65be63, #43a341);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #65be63), color-stop(1, #43a341));
}
a.btn4:hover{background:#44a241;border:1px solid #349a32;}
a.btn4:active{background:#358a33;border:1px solid #358a33;box-shadow:0 3px 3px #155214 inset;}


a.btn5:link,a.btn5:visited{color:#fff;background:#d56400;box-shadow:0 1px 0 #ff9435 inset;border:1px solid #c85e00;
background-image: -moz-linear-gradient(top, #f47300, #d56400);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f47300), color-stop(1, #d56400));
}
a.btn5:hover{background:#c65d00;border:1px solid #b85600;}
a.btn5:active{background:#c65400;border:1px solid #c65400;box-shadow:0 3px 3px #c65400 inset;}

a.btn1Unclick:link,a.btn1Unclick:visited,a.btn1Unclick:hover{background:#0c568d;box-shadow:0 0 0 #fff inset;border:1px solid #0c568d;}
a.btn2Unclick:link,a.btn2Unclick:visited,a.btn2Unclick:hover{background:#ae451f;box-shadow:0 0 0 #fff inset;border:1px solid #ae451f;}
a.btn3Unclick:link,a.btn3Unclick:visited,a.btn3Unclick:hover{background-color:#eee;background-image:none;box-shadow:0 0 0 #fff inset;border:1px solid #eee;}
a.btn4Unclick:link,a.btn4Unclick:visited,a.btn4Unclick:hover{background:#358a33;box-shadow:0 0 0 #fff inset;border:1px solid #358a33;}
a.btn5Unclick:link,a.btn5Unclick:visited,a.btn5Unclick:hover{background:#c65400;box-shadow:0 0 0 #fff inset;border:1px solid #c65400;}

.btns{margin:0 0 15px;}



/*头部公共*/
header{background:#2eb5e6;box-shadow:0 1px 2px #888 inset;height:50px;position:relative;z-index:1;margin-bottom:15px;}
header a.back{color:#fff;display:block;height:50px;line-height:50px;width:40px;position:absolute;left:0; z-index:2;}
header a.scrBtn{color:#fff;height:30px;line-height:30px;position:absolute;right:8px;top:8px;width:60px; text-align:center; z-index:3; text-align:center;border:1px solid #2eb5e6; border-radius:3px;}
header a.scrBtn i.hbFntWes{font-size:0.9rem;margin:0 3px 0 0;}
header a.navBtn{color:#fff;display:block;height:50px;line-height:50px;width:40px;position:absolute;right:0; z-index:2;}
header a.navBtn i.hbFntWes{line-height:50px;}
header .cent{width:100%;display:block;height:50px; text-align:left;}
header .cent p{display:block;margin:0 78px 0 45px;padding:8px 0 0 0;}
header a.detBtn{color:#fff;height:30px;line-height:30px;position:absolute;right:8px;top:8px;width:60px; text-align:center; z-index:3;background:#e85d4e; text-align:center;border:1px solid #d62e1b; border-radius:3px;}

header.pubtop{margin:0;}
header.pubtop .cent p{padding:0;margin:0 45px;}
header.pubtop .cent p b{display:block;width:100%;height:50px;line-height:50px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;color:#fff; text-align:center;font-size:1.2rem;}
header.pubtop .cent p i.hbFntWes{font-size:1.6rem; margin-right:5px;}

nav.pubnav{height:60px;box-shadow:0 1px 2px #999;background:#fff;display:none;}
nav.pubnav a{float:left;display:block;width:33.3%;height:60px; text-align:center; position:relative; z-index:1;}
nav.pubnav a i.hbFntWes{display:block;width:100%;padding:10px 0 0 0;text-align:center;}
nav.pubnav a span{height:25px;line-height:25px;text-align:center;}
nav.pubnav a b{width:1px;height:30px; position:absolute;top:15px;right:0;background:#eee;}

/*板块公共*/

section.layout{margin:0 10px;}
.part{background:#e8ecef;border:1px solid #e8ecef;margin-bottom:15px; text-align:left;}
.part .partT{height:40px;line-height:40px;padding-left:10px;font-size:1rem;font-weight:bold;background:#f1f1f1;}
.part .partC{}

/*搜索窗口*/
.schbox{width:100%;}
.schBar{background:#2eb5e6;box-shadow:0 1px 2px #888 inset;height:50px;position:relative; z-index:1;margin-bottom:15px;}
.schBar span{display:block;width:100%;position:relative; z-index:1;height:46px;padding:8px 0 0;}
.schBar span b{margin:0 45px 0 45px;display:block;height:30px;border-radius:0;border:1px solid #2eb5e6;background:#fff;}
.schBar input{width:99%;display:block;border:0;height:30px;line-height:30px;border-radius:0;padding-left:5px;}
.schBar a.closeBox{color:#fff;display:block;height:50px;line-height:50px;width:40px;position:absolute;left:0; z-index:2;}
.schBar a.schBarBtn{color:#fff;height:47px;line-height:47px;position:absolute;right:0;top:0;width:48px; text-align:center; z-index:3;}

/*热门职位*/
.hotJobs{padding:0 10px;text-align:left;}
.hotJobs h4{color:#bababa;margin-bottom:10px;padding:0 5px;}
.hotJobs .lst{overflow:hidden;}
.hotJobs .lst a{display:inline-block;margin:0 3px 5px;border:1px solid #ddd;background:#fff;height:35px;line-height:35px;overflow:hidden;color:#999;padding:0 5px;}

/*翻页*/
.page{margin-bottom:15px;}
.page select{height:35px;line-height:35px;vertical-align:middle; border:1px solid #999; border-radius:0;margin:0 10px;border-radius:5px;}
.page a{border-radius:5px;height:33px;line-height:33px;padding:0 10px;border:1px solid #999;background:#fff;display:inline-block; vertical-align:middle;}
.page a.unc{color:#a7a7a7;border-color:#ddd;background-image:none;}

/*输入表单*/
.mod{position:relative; z-index:1;}
.mod input.text{width:100%;font-size:0.8rem;}
.mod label.txtLabel{position:absolute;left:5px;top:0;color:#999;font-size:0.8rem;}
.mod textarea.textarea{width:100%; height:80px;font-size:0.8rem; padding-top:10px; border:0;}

/*底部*/
.footNav{background:#d7d7d7;padding:5px 0;overflow:hidden;margin-bottom:10px;}
.footNav .l{float:left;}
.footNav .r{float:right;}
.footNav a{padding:0 10px;}
.footNav a i.hbFntWes{margin:0 0 0 3px;font-size:0.8rem;}

footer{margin-bottom:10px;}
footer p{line-height:22px;font-size:0.8rem;}
footer p a{margin:0 10px;padding:0 5px; border-radius:5px;}
footer p a.cu{background:#fff;color:#999; cursor:text;}


/*---------------表单-----------------*/
.form{margin-top:30px;margin-bottom:30px;}
.form ul li{border-bottom:1px solid #ddd; background:#fff; position:relative; z-index:1; text-align:left; padding:12px 0;}
.form ul li:last-child{border-bottom:0;}
.form ul li .mod{padding:0 5px;}
.form ul li input.text{border:0;width:100%; font-size:0.8rem;}
.form ul li label.txtLabel{}

/*---------------登录-----------------*/
.lgBox{}
.lgBoxHd{background:#2eb5e6;box-shadow:0 1px 2px #888 inset;height:50px;position:relative;z-index:1;margin-bottom:15px;}
.lgBoxHd a.closeLog{font-size:0.8rem;color:#fff;position:absolute;left:10px;top:8px;height:30px;line-height:30px;border:1px solid #2eb5e6;background:#2eb5e6; border-radius:3px; text-align:center;width:55px;}
.lgBoxHd p{height:50px;line-height:50px;font-size:1.2rem;color:#fff; text-align:center;}
.lgBox .btns .btnsF16{display:inline-block;width:46%;margin:0 3px;}
.lgBox .form ul li .othMod{padding:2px 155px 0 5px;}
.lgBox .form ul li .othMod .userCode{ position:absolute;right:5px;top:2px; z-index:10;width:140px;}
.lgBox .form ul li .othMod .userCode img{width:80px;height:35px; vertical-align:middle;}
.lgBox .form ul li .othMod .userCode a{ vertical-align:middle;color:#39f;font-size:0.8rem;margin:0 0 0 5px;}

/*---------------注册-----------------*/
.regBox{}
.regBox .btns .btnsF16{display:inline-block;width:100%}
.regBox .form ul li .othMod{padding:2px 145px 0 5px;}
.regBox .form ul li .othMod .btnsF14{position:absolute;right:5px;top:-8px; z-index:10;width:135px; height:28px; line-height:28px; text-align:center;font-size:0.8rem;}

.regAft{display:none;}
.regAft .txt{padding:20px 0;}
.regAft p{line-height:22px;}
.regAft p.hbFntWes{font-size:5rem;color:#fff;line-height:80px;}
.regAft p.tit{font-size:1rem;}
.regAft p a{color:#39f;}
.content{overflow:hidden;}
.noData{color:#999;padding:30px 0;text-align:center;}

/*---------------404-----------------*/
.errBox{padding:40px 0 0 0; line-height:24px;}
.errBox p.tit{font-size:1.8rem; line-height:40px;}
.errBox p a{margin:0 10px; color:#3d84b8;}

/*筛选弹窗*/
.scrBox{position:absolute;right:0;top:0;z-index:100;width:0;overflow:hidden;}
.scrBoxCon{padding-left:90px; position:relative; z-index:100;}
.scrBoxCon div.closeSrc{width:90px;display:block; position:absolute;left:0;top:0;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;background:#000;height:100%;line-height:100%;z-index:100;}
.scrBoxCon div.closeSrc i.hbFntWes{position:fixed;top:50%;left:0;font-size:2rem;color:#fff;width:0;text-align:center;overflow:hidden;z-index:100;}
.srcBoxLst{background:#5b7482;}
.srcBoxLst .hd{ position:relative; z-index:1;height:50px;line-height:50px;background:#5b7482;border-bottom:1px solid #2e353a;color:#fff;width:100%;}
.srcBoxLst .hd a{ position:absolute;top:10px;}
.srcBoxLst .hd a.btnsF12{width:45px;}
.srcBoxLst .hd a.btn3{left:10px;}
.srcBoxLst .hd a.btn4{right:10px;}
.srcBoxLst .hd p{padding:0 55px;font-size:1rem;}
.srcBoxLst dl{}
.srcBoxLst dl dt{border-top:1px solid #7d919c;border-bottom:1px solid #384750; position:relative; z-index:1;padding:13px 30px 13px 10px; overflow:hidden; text-align:left;}
.srcBoxLst dl:first-child dt{border-top:0;}
.srcBoxLst dl dt b{float:left;color:#fff;font-size:0.9rem; margin-right:4px;}
.srcBoxLst dl dt p{float:left;color:#f5b903;text-align:left; margin-top:1px;}
.srcBoxLst dl dt i.hbFntWes{color:#d5cfc3; position:absolute;right:10px;height:30px;top:50%; margin-top:-10px;}
.srcBoxLst dl dd{background:#4b5f6b;display:none; text-align:left;}
.srcBoxLst dl dd ul li{height:40px;line-height:40px;border-bottom:1px solid #384750;border-top:1px solid #647682;color:#d7d7d7;}
.srcBoxLst dl dd ul li:first-child{border-top:0;}
.srcBoxLst dl dd ul li label{padding:0 30px 0 15px; position:relative; z-index:1;display:block;}
.srcBoxLst dl dd ul li input{display:none;}
.srcBoxLst dl dd ul li label i.hbFntWes{ position:absolute;right:10px;top:0;height:40px;line-height:40px; font-size:1.5rem;}
.srcBoxLst dl dd ul li.check label i.hbFntWes{color:#efb503;}

/* 单选 */
.srcBoxLst ul li{height:45px;line-height:45px;border-top:1px solid #7d919c;border-bottom:1px solid #384750; color:#d7d7d7;}
.srcBoxLst ul li:first-child{border-top:0;}
.srcBoxLst ul li label{padding:0 30px 0 15px; position:relative; z-index:1;display:block;}
.srcBoxLst ul li input{display:none;}
.srcBoxLst ul li label i.hbFntWes{ position:absolute;right:10px;top:0;height:45px;line-height:45px;}
.srcBoxLst ul li label p{text-align:left; font-size:1rem; font-size:0.9rem;}
.srcBoxLst ul li.check label i.hbFntWes{color:#efb503;}

.anIco{width:36px; height:25px; background:url(/img/common/jp.gif) no-repeat; display:inline-block; vertical-align:middle; margin-left:5px;}

/* 绑定微信 */
.form ul li .mod a.reg{position:absolute; right:20px; top:-8px; width:50px; text-align:center;}
.form ul li.wxReg{position:relative; z-index:1;}
.form ul li.wxReg .mod{padding-right:85px;}
.wxSuc{background:none; text-align:center; border:0; padding-top:30px;}
.wxSuc p i.hbFntWes{font-size:5rem; color:#44a241;}
.wxSuc p.sucTxt{font-size:1.2rem; color:#44a241;}
.wxSuc p.user{line-height:60px; font-size:1rem;}
.wxSuc p a.btnsF16{width:50%; margin:0 auto;}
.wxSuc p.expTxt{line-height:40px; color:#999;}

/*各个页面弹窗手机APP推广*/
.clear{ clear:both;}
#app_tc{ display:block;width:auto;height:100%; position:fixed;top:0;left:0;z-index:1000;background:#fff;}
.appPhoneG{max-width:600px; overflow:hidden; position:relative; margin:0 auto;}
.appPhoneG img{ display:block; max-width:100%; height:auto; margin:0 auto;border:none;}
.appPhoneG a{ display:block;width:80px; height:80px; background:url(/img/m/mphone01.png) no-repeat; position:absolute; top:10px; right:10px;}
.appPhoneT{width:100%; overflow:hidden; padding:26px 0; background:#92e3fd;}
.appPhoneT p{ font-size:3em; text-align:center; color:#0d4172;}
.appPhoneD{width:100%; overflow:hidden; padding:45px 0; background:#fff;}
.appPhoneD a{ display:block;width:50%; margin:0 auto; padding:30px 0; background:#33a1fb; color:#fff; font-size:3.6em; text-decoration:none; text-align:center;}
@media screen and (min-width:320px) and (max-width:480px) {
	#app_tc{ font-size:50%;}
	.appPhoneT{ padding:13px 0;}
	.appPhoneD{ padding:20px 0;}
	.appPhoneD a{ padding:15px 0;}
	.appPhoneG a{width:40px; height:40px; background:url(/img/m/mphone03.png) no-repeat;}
}

/*登录验证码*/
.authCode{ overflow:hidden; padding-right:155px; margin-top:6px; position:relative;}
.authCode input{ display:block;width:100%; height:43px; line-height:43px; text-indent:0.7em; font-size:14px; border:1px solid #d0d4d6;}
.authCode img{ display:block;width:80px; height:45px; position:absolute; top:0; right:68px; border-right:1px solid #d0d4d6;}
.authCode a{ display:block;width:68px; height:45px; position:absolute; top:0; right:0; background:url(/img/m/m_icon33.jpg) no-repeat;}
.authCode a:active{background:url(/img/m/m_icon33cur.jpg) no-repeat;}




