@charset utf-8;
html{font-family:sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;overflow-y:scroll;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display: block;}
audio,canvas,video{display: inline-block;}
audio:not([controls]){display: none;height: 0;}
[hidden]{display: none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,select,textarea,th,td,div{margin:0;padding:0;}
body,button,input,select,textarea{font:1rem 'Microsoft Yahei',Arial,Verdana,Helvetica,sans-serif;line-height:1.5;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
address,cite,dfn,em,var,caption,code,dfn,th{font-style:normal;font-weight:400;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
i{font-style:normal;}
ul,ol{list-style:none}
a{text-decoration:none;color:#424242;}
a:hover{text-decoration:underline;color:#404040;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:0;border-spacing:0;border-collapse:collapse;}
q:before,q:after{content:'';}
b,strong{font-weight: bold;}
body{font:0.8rem 'Microsoft Yahei',Arial,Verdana,Helvetica,sans-serif;line-height:1.5;text-align:center;background:#e8ecef;color:#444;word-wrap:break-word;word-break:break-all;word-break:normal;}
textarea{resize:none;}
textarea:focus,input:focus{outline: none;}

/*CSS reset*/
.clear{clear:both;height:0;line-height:0;overflow:hidden;font-size:0;}
.none{display:none;}.block{display:block;}.inlBlk{display:inline-block;}
.textLft{text-align:left;}.textRgt{text-align:right;}.textCent{text-align:center;}
.red,a.red:link,a.red:visited{color:#D66564;}
a.red:hover{color:#d10000;}
.gray{color:#a6a6a6;}
.orange,a.orange:link,a.orange:visited{color:#db5800;}
a.orange:hover{color:#ff7e00;}
.green,a.green:link,a.green:visited{color:#27b6a6;}
a.green:hover{color:#2fb238;}
.blue,a.blue:link,a.blue:visited{color:#2094D1;}
a.blue:hover{color:#16a6f2;}
.black,a.black:link,a.black:visited{color:#333;}
a.black:hover{color:#585858;}
.yellow,a.yellow:link,a.yellow:visited{color:#e1a811;}
a.yellow:hover{color:#df9b07;}
.strong{font-weight:bold;}
.underline{ text-decoration:underline;}
.through{text-decoration:line-through;}

a:hover{ text-decoration:none;}
a:active,a:focus{ outline:none;}


/*web-kit滚动条样式*/
/*::-webkit-scrollbar {width: 10px;}*/

/* Track */
::-webkit-scrollbar-track{background:#dcdcdc;}

/* Handle */
::-webkit-scrollbar-thumb{background:#c3c3c3;}
::-webkit-scrollbar-thumb:window-inactive{background:#c3c3c3;}


/*jpFntWes*/
/*jpFntWes*/
@font-face {
	font-family: 'jpFntWes';
	src:url('../font/fontawesome.eot');
	src:url('../font/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../font/fontawesome.woff') format('woff'),
		url('../font/fontawesome.ttf') format('truetype'),
		url('../font/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
.jpFntWes{
	font-family:'jpFntWes';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-size:22px;line-height:1;
}


.jpFntWes b{font-weight:normal;}
.jpFntWes i{font-style:normal;}
.jpFntWes a{display:inline-block;}


/*按钮*/
a.btnClose{font-size:20px;line-height:17px;height:20px;display:block;width:100%;}
a.btnsF16{height:43px;line-height:43px;font-size:1.2rem;border-radius:3px;display:block;width:100%;}
a.btnsF14{height:33px;line-height:33px;font-size:1rem;border-radius:3px;display:block;width:100%;}
a.btnsF12{height:28px;line-height:28px;font-size:0.8rem;border-radius:3px;display:block;width:100%;}
a.btn1:link,a.btn1:visited{color:#fff;background:#3d86bc;box-shadow:0 1px 0 #59a0d5 inset;border:1px solid #397eb2;
background-image: -moz-linear-gradient(top, #5496c7, #3d86bc);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5496c7), color-stop(1, #3d86bc));
}
a.btn1:hover{background:#1368a9;border:1px solid #207abc;}
a.btn1:active{background:#1368a9;box-shadow:0 3px 3px #0d4168 inset;border:1px solid #207abc;}

a.btn2:link,a.btn2:visited{color:#fff;background:#de6667;box-shadow:0 1px 0 #f5898a inset;border:1px solid #c85329;
background-image: -moz-linear-gradient(top, #de6667, #ca4c4d);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #de6667), color-stop(1, #ca4c4d));
}
a.btn2:hover{background:#cb4647;border:1px solid #e26538;}
a.btn2:active{background:#ae451f;border:1px solid #ae451f;box-shadow:0 3px 3px #812f11 inset;}

a.btn3:link,a.btn3:visited{color:#666;background-color:#f7f7f7;box-shadow:0 1px 0 #fff inset;border:1px solid #dadada;
background-image: -moz-linear-gradient(top, #fff, #ececec);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ececec));
}
a.btn3:hover{background-color:#eee;border:1px solid #ddd;
background-image: -moz-linear-gradient(top, #fff, #f1f1f1 5%);
background-image: -webkit-gradient(linear, 0 0, 0 5%, from(#fff), to(#f1f1f1));
}
a.btn3:active{background-color:#eee;background-image:none;border:1px solid #dadada;box-shadow:0 3px 3px #ccc inset;}

a.btn4:link,a.btn4:visited{color:#fff;background:#65be63;box-shadow:0 1px 0 #7ee77c inset;border:1px solid #51b94f;
background-image: -moz-linear-gradient(top, #65be63, #43a341);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #65be63), color-stop(1, #43a341));
}
a.btn4:hover{background:#44a241;border:1px solid #349a32;}
a.btn4:active{background:#358a33;border:1px solid #358a33;box-shadow:0 3px 3px #155214 inset;}


a.btn5:link,a.btn5:visited{color:#fff;background:#d56400;box-shadow:0 1px 0 #ff9435 inset;border:1px solid #c85e00;
background-image: -moz-linear-gradient(top, #f47300, #d56400);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f47300), color-stop(1, #d56400));
}
a.btn5:hover{background:#c65d00;border:1px solid #b85600;}
a.btn5:active{background:#c65400;border:1px solid #c65400;box-shadow:0 3px 3px #c65400 inset;}

a.btn1Unclick:link,a.btn1Unclick:visited,a.btn1Unclick:hover{background:#0c568d;box-shadow:0 0 0 #fff inset;border:1px solid #0c568d;}
a.btn2Unclick:link,a.btn2Unclick:visited,a.btn2Unclick:hover{background:#ae451f;box-shadow:0 0 0 #fff inset;border:1px solid #ae451f;}
a.btn3Unclick:link,a.btn3Unclick:visited,a.btn3Unclick:hover{background-color:#eee;background-image:none;box-shadow:0 0 0 #fff inset;border:1px solid #eee;}
a.btn4Unclick:link,a.btn4Unclick:visited,a.btn4Unclick:hover{background:#358a33;box-shadow:0 0 0 #fff inset;border:1px solid #358a33;}
a.btn5Unclick:link,a.btn5Unclick:visited,a.btn5Unclick:hover{background:#c65400;box-shadow:0 0 0 #fff inset;border:1px solid #c65400;}


a.btn6:link,a.btn6:visited{color:#fff;background:#ed2033;box-shadow:0 1px 0 #ff7379 inset;border:1px solid #a62c39;
background-image: -moz-linear-gradient(top, #fc4c58, #ed2033);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fc4c58), color-stop(1, #ed2033));
}
a.btn6:hover{background:#ff555f;border:1px solid #a62c39;}
a.btn6:active{background:#f60e35;border:1px solid #ed2033;box-shadow:0 3px 3px #f60e35 inset;}

a.btn6Unclick:link,a.btn6Unclick:visited,a.btn6Unclick:hover{background:#ed2033;box-shadow:0 0 0 #fff inset;border:1px solid #a62c39;}

.btns{margin:0 0 15px;}



/*头部公共*/
header{background:#E8352E;height:50px;position:relative;z-index:1;margin-bottom:15px;}
header a.back{color:#fff;display:block;height:50px;line-height:50px;width:40px;position:absolute;left:0; z-index:2;}
header a.scrBtn{color:#fff;height:30px;line-height:30px;position:absolute;right:8px;top:8px;width:60px; text-align:center; z-index:3;background:#e85d4e; text-align:center;border:1px solid #d62e1b; border-radius:3px;}
header a.scrBtn i.jpFntWes{font-size:0.9rem;margin:0 3px 0 0;}
header a.navBtn{color:#fff;display:block;height:50px;line-height:50px;width:40px;position:absolute;right:0; z-index:2;}
header a.navBtn i.jpFntWes{line-height:50px;}
header .cent{width:100%;display:block;height:50px; text-align:left;}
header .cent p{display:block;margin:0 78px 0 45px;padding:8px 0 0 0;}
header a.detBtn{color:#fff;height:30px;line-height:30px;position:absolute;right:8px;top:8px;width:60px; text-align:center; z-index:3;background:#e85d4e; text-align:center;border:1px solid #d62e1b; border-radius:3px;}

header.pubtop{margin:0;}
header.pubtop .cent p{padding:0;margin:0 45px;}
header.pubtop .cent p b{display:block;width:100%;height:50px;line-height:50px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;color:#fff; text-align:center;font-size:1.2rem;}
header.pubtop .cent p i.jpFntWes{font-size:1.6rem; margin-right:5px;}

nav.pubnav{height:60px;box-shadow:0 1px 2px #999;background:#fff;display:none;}
nav.pubnav a{float:left;display:block;width:33.3%;height:60px; text-align:center; position:relative; z-index:1;}
nav.pubnav a i.jpFntWes{display:block;width:100%;padding:10px 0 0 0;text-align:center;}
nav.pubnav a span{height:25px;line-height:25px;text-align:center;}
nav.pubnav a b{width:1px;height:30px; position:absolute;top:15px;right:0;background:#eee;}

/*板块公共*/

section.layout{margin:0 10px;}
.part{background:#fff;border:1px solid #ddd;margin-bottom:15px; text-align:left;}
.part .partT{height:40px;line-height:40px;padding-left:10px;font-size:1rem;font-weight:bold;background:#f1f1f1;}
.part .partC{}

/*搜索窗口*/
.schbox { width: 100%; }
.schBar { background: #e74c3c; box-shadow: 0 1px 2px #888 inset; height: 50px; position: relative; z-index: 1; margin-bottom: 15px; }
.schBar span { display: block; width: 100%; position: relative; z-index: 1; height: 46px; padding: 8px 0 0; }
.schBar span b { margin: 0 45px 0 45px; display: block; height: 30px; border-radius: 0; border: 1px solid #d92b17; background: #fff; }
.schBar input { width: 99%; display: block; border: 0; height: 30px; line-height: 30px; border-radius: 0; padding-left: 5px; }
.schBar a.closeBox { color: #fff; display: block; height: 50px; line-height: 50px; width: 40px; position: absolute; left: 0; z-index: 2; }
.schBar a.schBarBtn { color: #fff; height: 47px; line-height: 47px; position: absolute; right: 0; top: 0; width: 48px; text-align: center; z-index: 3; }
.searchbg { width: 80%; text-align: center; margin: 0 auto; padding: 15px 0; }

/*搜索窗口*/
.schbox{width:100%;}
.schBar{background:#e74c3c;box-shadow:0 1px 2px #888 inset;height:50px;position:relative; z-index:1;margin-bottom:15px;}
.schBar span{display:block;width:100%;position:relative; z-index:1;height:46px;padding:8px 0 0;}
.schBar span b{margin:0 45px 0 45px;display:block;height:30px;border-radius:0;border:1px solid #d92b17;background:#fff;}
.schBar input{width:99%;display:block;border:0;height:30px;line-height:30px;border-radius:0;padding-left:5px;}
.schBar a.closeBox{color:#fff;display:block;height:50px;line-height:50px;width:40px;position:absolute;left:0; z-index:2;}
.schBar a.schBarBtn{color:#fff;height:47px;line-height:47px;position:absolute;right:0;top:0;width:48px; text-align:center; z-index:3;}

/*热门职位*/
.hotJobs{padding:0 10px;text-align:left;}
.hotJobs h4{color:#bababa;margin-bottom:10px;padding:0 5px;}
.hotJobs .lst{overflow:hidden;}
.hotJobs .lst a{display:inline-block;margin:0 3px 5px;border:1px solid #ddd;background:#fff;height:35px;line-height:35px;overflow:hidden;color:#999;padding:0 5px;}

/*翻页*/
/*.page { text-align: center; padding: 15px 0;}
.page a,.page span { display: inline-block; height: 30px; border: 1px solid #ddd; background: #f2f2f2; text-align: center; line-height: 30px;font-size: 14px; border-radius: 3px;width: 30px;}
.page span{ background: #EB6C5F; color: #fff;}*/

.page { margin-bottom: 15px; text-align: center;}
.page select { height: 35px; line-height: 35px; vertical-align: middle; border: 1px solid #999; border-radius: 0; margin: 0 10px; border-radius: 5px; }
.page a { border-radius: 5px; height: 33px; line-height: 33px; padding: 0 10px; border: 1px solid #999; background: #f7f7f7; display: inline-block; vertical-align: middle; background-image: -moz-linear-gradient(top, #fff, #ececec); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ececec)); }
.page a.unc { color: #a7a7a7; border-color: #ddd; background-image: none; }

/*输入表单*/
.mod{position:relative; z-index:-1;}
.mod input.text{width:100%;font-size:0.8rem;}
.mod label.txtLabel{position:absolute;left:5px;top:0;color:#999;font-size:0.8rem;}
.mod textarea.textarea{width:100%; height:80px;font-size:0.8rem; padding-top:10px; border:0;}

/*底部*/
.footNav{background:#d7d7d7;padding:5px 0;overflow:hidden;margin-bottom:10px;height: 29px;line-height: 29px;}
.footNav .l{float:left;width:75%; text-align: left;}
.footNav .r{float:right;}
.footNav a{padding:0 20px;}
.footNav a i.jpFntWes{margin:0 0 0 3px;font-size:0.8rem;}

footer{margin-bottom:10px;}
footer p{line-height:22px;font-size:0.8rem;}
footer p a{margin:0 10px;padding:0 5px; border-radius:5px;}
footer p a.cu{background:#fff;color:#999; cursor:text;}


/*---------------表单-----------------*/
.form{margin-top:30px;margin-bottom:30px;}
.form ul li{border-bottom:1px solid #ddd; position:relative; z-index:1; text-align:left; padding:12px 0;}
.form ul li:last-child{border-bottom:0;}
.form ul li .mod{padding:0 5px;}
.form ul li input.text{border:0;width:100%; font-size:0.8rem;}
.form ul li label.txtLabel{}

/*---------------登录-----------------*/
.lgBox{}
.lgBoxHd{background:#e74c3c;box-shadow:0 1px 2px #888 inset;height:50px;position:relative;z-index:1;margin-bottom:15px;}
.lgBoxHd a.closeLog{font-size:0.8rem;color:#fff;position:absolute;left:10px;top:8px;height:30px;line-height:30px;border:1px solid #d62e1b;background:#e85d4e; border-radius:3px; text-align:center;width:55px;}
.lgBoxHd p{height:50px;line-height:50px;font-size:1.2rem;color:#fff; text-align:center;}
.lgBox .btns .btnsF16{display:inline-block;width:100%;margin:3px;}
/*.lgBox .btns .btnsF16{display:inline-block;width:100%;margin:0 3px;}*/
.lgBox .form ul li .othMod{padding:2px 155px 0 5px;}
.lgBox .form ul li .othMod .userCode{ position:absolute;right:5px;top:-6px; z-index:10;width:140px;}
.lgBox .form ul li .othMod .userCode img{width:80px;height:35px; vertical-align:middle;}
.lgBox .form ul li .othMod .userCode a{ vertical-align:middle;color:#39f;font-size:0.8rem;margin:0 0 0 5px;}

/*---------------注册-----------------*/
.regBox{}
.regBox .btns .btnsF16{display:inline-block;width:100%}
.regBox .form ul li .othMod{padding:2px 145px 0 5px;}
.regBox .form ul li .othMod .btnsF14{position:absolute;right:5px;top:-8px; z-index:10;width:135px; height:28px; line-height:28px; text-align:center;font-size:0.8rem;}

.regAft{display:none;}
.regAft .txt{padding:20px 0;}
.regAft p{line-height:22px;}
.regAft p.jpFntWes{font-size:5rem;color:#fff;line-height:80px;}
.regAft p.tit{font-size:1rem;}
.regAft p a{color:#39f;}
.content{overflow:hidden;}
.noData{color:#999;padding:30px 0;text-align:center;}

/*---------------404-----------------*/
.errBox{padding:40px 0 0 0; line-height:24px;}
.errBox p.tit{font-size:1.8rem; line-height:40px;}
.errBox p a{margin:0 10px; color:#3d84b8;}
/*#4b5f6b 深
#5b7482 中*/
/*筛选弹窗*/
.scrBox{position:absolute;right:0;top:0;z-index:100;width:0;overflow:hidden;}
.scrBoxCon{padding-left:90px; position:relative; z-index:100;}
.scrBoxCon div.closeSrc{width:90px;display:block; position:absolute;left:0;top:0;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;background:#000;height:100%;line-height:100%;z-index:100;}
.scrBoxCon div.closeSrc i.jpFntWes{position:fixed;top:50%;left:0;font-size:2rem;color:#fff;width:0;text-align:center;overflow:hidden;z-index:100;}
.srcBoxLst{background:#4b5f6b;}
.srcBoxLst .hd{ position:relative; z-index:1;height:50px;line-height:50px;background:#4b5f6b;border-bottom:1px solid #2e353a;color:#fff;width:100%;}
.srcBoxLst .clearTitle { position: inherit; color: #f5b903; text-align: left; text-indent: 10px; border-top: #647682; border-bottom: 1px solid #2e353a; height: 50px; line-height: 50px;}
.srcBoxLst .clearTitle .clearBtn { float: right; margin-right: 8px; font-size: 25px; cursor: pointer;}
.srcBoxLst .hd a{ position:absolute;top:10px;}
.srcBoxLst .hd a.btnsF12{width:45px;}
.srcBoxLst .hd a.btn3{left:10px;}
.srcBoxLst .hd a.btn4{right:10px;}
.srcBoxLst .hd p{padding:0 55px;font-size:1rem;}
.srcBoxLst dl dt{border-top:1px solid #647682;border-bottom:1px solid #384750; position:relative; z-index:1;padding:13px 0 13px 10px; overflow:hidden; text-align:left; }
.srcBoxLst dl dt.pl30 {padding-left: 40px; padding: 0 0 0 40px; }
.srcBoxLst dl dt.pl30 div { padding: 13px 0; }
.srcBoxLst dl dt.pl30 div:after { clear: both; content: '';display: block;}
.srcBoxLst dl:first-child dt{border-top:0;}
.srcBoxLst dl dt b{float:left;color:#fff;font-size:0.9rem; margin-right:4px;}
.srcBoxLst dl dt p{float:left;color:#f5b903;margin-top:1px; }
.srcBoxLst dl dt i.jpFntWes{color:#d5cfc3; position:absolute;right:10px;height:40px;font-size:1.5rem; padding-top: 10px;top: 0;}
.srcBoxLst dl.check dt  i.jpFntWes.circle{ color: #efb503;}
.srcBoxLst dl dt i.circle { left: 0; width: 30px; padding-left: 10px;}
.srcBoxLst dl dd{background:#5A7381;display:none; text-align:left; text-indent: 15px;}
.srcBoxLst dl dd ul li{height:40px;line-height:40px;color:#d7d7d7; border-top:1px solid #7d919c;border-bottom:1px solid #384750;}
.srcBoxLst dl dd ul li.subMenu { height: auto; border-bottom: none; border-top: none; position: relative;}
/*.srcBoxLst dl dd ul li.subMenu  .jpFntWes*/
.subArea2 { height: 40px; line-height: 40px; border-bottom: 1px solid #384750; border-top: 1px solid #7d919c; color: #d7d7d7; }
._itemContainer ol {display: none;}
.srcBoxLst dl dd ul li .subCountry {height: 40px; line-height: 40px; color: #d7d7d7; padding-left: 30px; background:#718A99; border-bottom: 1px solid #556B79; border-top: 1px solid #8EA5B5; }
.srcBoxLst dl dd ul li ol { display: none;}
.srcBoxLst dl dd ul li .subCountry p{text-indent: 45px;}
.srcBoxLst dl dd ul li:first-child{border-top:0;}
.srcBoxLst dl dd ul li label{padding:0 0 0 15px; position:relative; z-index:1;display:block;}
.srcBoxLst dl dd ul li input{display:none;}
.srcBoxLst dl dd ul li label i.jpFntWes{ position:absolute;left:15px;top:0;height:40px;line-height:40px; font-size:1.5rem; width: 40px;}
.srcBoxLst dl dd ul li.subMenu i.downArr{ position:absolute;right: 10px;top:0;height:40px;line-height:40px; font-size:1.5rem;}
.srcBoxLst dl dd ul li.check label i.jpFntWes{color:#efb503;}

/* 单选 */
/*.srcBoxLst ul li{height:45px;line-height:45px;border-top:1px solid #7d919c;border-bottom:1px solid #384750; color:#d7d7d7;}*/
.srcBoxLst input{display:none;}
.srcBoxLst ul li:first-child{border-top:0;}
.srcBoxLst ul li label{padding:0 30px 0 15px; position:relative; z-index:1;display:block;}
.srcBoxLst ul li input{display:none;}
.srcBoxLst ul li label i.jpFntWes{ position:absolute;right:10px;top:0;height:45px;line-height:45px;}
.srcBoxLst ul li label p{text-align:left; font-size:1rem; font-size:0.9rem; text-indent: 45px;}
.srcBoxLst ul li.check label i.jpFntWes{color:#efb503;}

.anIco{width:36px; height:25px; background:url(/m/images/jp.gif) no-repeat; display:inline-block; vertical-align:middle; margin-left:5px;}

/* 绑定微信 */
.form ul li .mod a.reg{position:absolute; right:20px; top:-8px; width:50px; text-align:center;}
.form ul li.wxReg{position:relative; z-index:1;}
.form ul li.wxReg .mod{padding-right:85px;}
.wxSuc{background:none; text-align:center; border:0; padding-top:30px;}
.wxSuc p i.jpFntWes{font-size:5rem; color:#44a241;}
.wxSuc p.sucTxt{font-size:1.2rem; color:#44a241;}
.wxSuc p.user{line-height:60px; font-size:1rem;}
.wxSuc p a.btnsF16{width:50%; margin:0 auto;}
.wxSuc p.expTxt{line-height:40px; color:#999;}

#yzm {padding-right: 100px; position: relative;}
#yzm img { position: absolute; width: 100px; height: 30px; right: 5px; top: -5px; border: none;}

/*第三方登录*/
.thirdLogin dt {
position: relative;
}
.thirdLogin dt {
text-align: center;
margin-bottom: 20px;
}
.thirdLogin dt:before {
content: "";
width: 100%;
height: 1px;
background: #ddd;
position: absolute;
top: 50%;
left: 0;
}
.thirdLogin dt span {
position: relative;
padding: 5px;
background: #E8ECEF;
z-index: 1;
}
.thirdLogin dd {
width: 200px;
margin: 0 auto;
}
.thirdLogin dd a {
float: left;
width: 80px;
height: 80px;
background:url(../images/thirdLoginIcons.png) no-repeat center 0;
background-size: 100%;
text-indent: -9999px;
overflow: hidden;
}
.thirdLogin dd .qq {
float: right;
background-position: center bottom;
}

/*资讯*/
.newsTxt img {display: block; width:100%!important; height: auto!important;}
.newsTxt p {margin:0 15px 20px; text-indent: 2em; line-height: 200%;}

/*左边返回*/
.vbk {background: rgba(0,0,0,.5);width: 35px;height: 35px;border-radius: 5px;-webkit-border-radius: 5px;z-index: 99999;position: fixed;left: 2px;bottom: 70px;float: none;margin-left: 10px;}
.vbk:after {content: "";width: 15px;height: 15px;border-left: 2px solid #fff;border-bottom: 2px solid #fff;transform: rotate(45deg);-webkit-transform: rotate(45deg);position: absolute;top: 9px;left: 12px;z-index: 99999;}