@charset "utf-8";
/* CSS Document */
body {background: #e8ecef;}
*{ margin:0; padding:0; text-shadow:none; font-weight:normal !important; font-family:"微软雅黑";}
div{ display:block;}
a{ text-decoration:none; -webkit-tap-hightlight-color:rgba(0,0,0,0);}
ul,li{ list-style:none;}
.clear{ clear:both;}
a {color: #444;}

.right{ float:right;}
.left{ float:left;}


.zpwrap{ background-color:#ededed; overflow:hidden;}
/**/
.j_searchTop {height: 44px; background-color: #fff; border-bottom: 1px solid #E8352E; overflow: hidden;}
.j_searchTop .logo{ width:120px; height:44px; background:url(../images/597logo.png) no-repeat; float:left; margin-left:10px; background-size:120px 44px;}
.j_searchTop .logo2{ width:120px; height:44px; background:url(../images/597logo2.png) no-repeat; float:left; margin-left:10px; background-size:120px 44px;}
.j_searchTop .position{ font-size:12px; color:#686868; line-height:44px; max-width:60px; float:left; margin-left:15px; overflow:hidden; white-space:nowrap;}
.j_searchTop .position .icon{ margin-top:18px;}
.j_searchTop .position .text{ padding-right:5px;}
.j_searchTop .login_btn{ right:10px; font-size:16px; line-height:44px; color:#686868; float:right;}
.j_searchTop .login_btn a{ color:#666;padding:5px;}

/*搜索*/
.indexSearch{ height:60px; background:#E8352E; overflow:hidden;}
.indexSearch .content{ margin:10px; height:38px; line-height:38px; color:#999; font-size:15px; border:1px solid #d2d2d2; border-radius:5px; position:relative; background:#fff;}
.indexSearch .content span { display: block; margin: 0 14px;text-align: left;color: #c3c3c3;}
.indexSearch .content b { width: 55px; height: 29px; line-height: 29px; color: #fff; font-size: 15px; text-align: center; border-radius: 3px; position: absolute; right: 5px; top: 4px; background-color: #E8352E;} 


/**/
.j_myOperating { background:#fff; width: auto; padding: 20px 10px 10px 10px; margin-bottom: 10px;}
.j_boxe { float: left; width: 25%; text-align: center; position: relative;}
.j_myOperating a img { width: 40px; height: 40px; margin: auto; clear: both; float: none;}
.j_myOperating a span { width: 100%; display: block; height: 20px; color: #686868; font-size: 12px; margin-bottom: 10px; line-height:20px;}


/*热门职位*/
.j_hotJobsList{ line-height:44px; background:#fff; margin-bottom:10px;}
.j_hotJobsList h3{ width:100%; height:35px; line-height:35px; background:url(../images/4.2_titleIcon.png) no-repeat; background-color:#fff; background-size:5px 16px; background-position: left center; border-bottom:1px dashed #d8d8d8;}
.j_hotJobsList h3 span{ background:#fff; padding:0 10px; float:left; display:block; line-height:35px; margin:0 5px; font-size:18px; font-family:"微软雅黑"; color:#e8352e;}
.j_hotJobsList .warp{ font-size:13px; text-align:left;}
.j_hotJobsList .warp .list{ overflow:hidden; border-bottom: 1px dashed #e5e5e5;}
.j_hotJobsList .warp .list dt{ background:#fff; overflow:hidden; position:relative;}
.j_hotJobsList .warp .list dt .wrap{ width:100%; padding:0 40px 0 10px; box-sizing:border-box;-webkit-box-sizing:border-box; font-style:normal; display:block;  height:44px;}
.j_hotJobsList .warp .list dt span { float: left; color: #93b1c9; width: 25%;
overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.j_hotJobsList .warp .list dt a { float: left; color: #686868; width: 25%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.j_hotJobsList .warp .list dt a:link, .j_hotJobsList .warp .list dt a:visited { color: #686868;}
.j_hotJobsList .warp .list dt b { float: right; width: 40px; height: 44px; background: url(../images/4-2_hotjobsarrow.png) no-repeat center center;
background-size: 10px auto; position: absolute; right: 0; top: 0;}

.j_hotJobsList .warp .list dd {
background-color: #eaeaea;
display: none;
overflow: hidden;
padding: 0 5px;
}
.j_hotJobsList .warp .list dd a {
color: #686868;
float: left;
width: 25%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
#showMore,#hideMore {width:100%; color:#666; cursor: pointer; display: block; }

/*热门行业*/
.j_HotJobsIndustryList { margin-bottom: 8px; overflow: hidden; clear: both;
background-color: #fff;}
.j_HotJobsIndustryList dt,.model h3{    border-bottom:1px dashed #d8d8d8; width:100%; height:35px; line-height:35px; border-bottom: 1px solid #F97973; background:url(../images/4.2_titleIcon.png) no-repeat; background-size:5px 16px;  background-position:left center; }
.j_HotJobsIndustryList dt span{ margin:0 5px; color:#e8352e; background:#fff; padding: 0 10px; float:left; display:block; line-height:35px; font-size:16px; font-family:"微软雅黑"; }
.j_HotJobsIndustryList dd {
width: 25%;
border-bottom: 1px dotted #d6d6d6;
border-right: 1px dotted #d6d6d6;
font-size: 14px;
color: #7a7a7a;
float: left;
height: 40px;
line-height: 40px;
text-align: center;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.model {background: #fff; text-align: left; text-indent: 15px; font-size: 14px; padding-bottom: 10px; margin-bottom: 10px;}
.model h3 {color: #e8352e; margin-bottom: 10px;}
.model dl {border-bottom: 1px solid #ddd; margin-bottom: 10px; padding: 0 15px 10px 0; position: relative;}
.model dl  dt {font-weight: bold; margin-bottom: 5px; font-size: 15px;}
.model dl dd {color: #999;}
.model dl span {position: absolute; color: #999; right:10px; top:15px; font-size: 12px;}
.model .more {float: right; color: #999; margin-right: 10px;font-size: 12px;}
.j_HotJobsIndustryList dd a.colorC:link, .j_HotJobsIndustryList dd a.colorC:visited {
color: #17a5ff;
}
.j_HotJobsIndustryList dd a {
width: 100%;
height: 40px;
line-height: 40px;
display: block;
color: #7a7a7a;
}

/*求职宝典*/
.j_HotInformation {
width: auto;
}
.j_HotInformation {
overflow: hidden;
clear: both;
background-color: #fff;
margin-bottom: 8px;
text-align: left;
}
.j_HotInformation h3 {
background-color: #fff;
background-size: 5px 16px;
width: 100%;
height: 35px;
line-height: 35px;
border-bottom: 1px solid #ddd; margin-bottom: 10px;
}
.j_HotInformation h3 span{ color:#666; background:#fff; display:block; line-height:35px; font-size:16px; font-family:"微软雅黑"; float: left; width:49%; text-align: center; cursor: pointer;}
 .j_HotInformation h3 span.cu{color: #e8352e; border-bottom: 2px solid #e8352e;}
.j_HotInformation h3 a {
float: right;
color: #686868;
font-size: 16px;
margin-right: 16px;
}
.slide {
	-webkit-transition: all 0.5s;
}
.j_HotInformation dl {

/*float: left; */
/*padding-bottom: 10px;*/
}
.j_HotInformation dl dd {
height: 40px;
line-height: 40px;
border-bottom :1px solid #e6e6e6;

}
.j_HotInformation dl dd:last-child {
border-bottom :none;
}
.j_HotInformation dl dd a {
padding-right: 10px;
display: block;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: #333!important;
font-size: 14px;
padding: 0 15px;
/*width: 100%;*/
}

/**/
.j_link {
width: 100%;
margin: 0 auto 8px auto;
overflow: hidden;
clear: both;
background-color: #fff;
}
.j_link h3 {
width: 100%;
height: 35px;
background-color: #1d8aff;
line-height: 35px;
background:url(../images/4.2_titleIcon.png) no-repeat;
background-color: #fff;
background-size: 5px 16px;
background-position: left center;
}
.j_link h3 span {
margin: 0 5px;
color: #1499ff;
}
.j_link h3 span {
background-color: #fff;
padding: 0 10px;
float: left;
display: block;
line-height: 35px;
margin: 0 10px;
font-size: 18px;
font-family: 'Microsoft YaHei';
color: #333;
}
.j_link h3 a {
float: right;
color: #686868;
font-size: 16px;
margin-right: 16px;
}
.j_link dl {
width: auto;
padding: 0 5px;
}
.j_link dl dd {
height: 20px;
padding: 10px 0;
border-bottom: 1px solid #d8d8d8;
}
.j_link dl dd:first-child {
border-top: 1px dashed #d8d8d8;
}
.j_link dl dd ul li {
width: 25%;
float: left;
height: 20px;
line-height: 20px;
border-right: 1px solid #d6d6d6;
text-align: center;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.j_link dl dd ul li {
border-right: none;
}
.j_link dl dd a:link, .j_HotInformation dl dd a:visited {
color: #666!important;
}
.j_link dl dd ul li a {
font-size: 13px;
color: #666;
}
/**/
.home_box, .version {
background-color: #ededed;
}
.bottom_nav {
height: 45px;
padding: 10px 10px 10px 10px;
}
.bottom_nav li {
float: left;
width: 20%;
text-align: center;
height: 45px;
position: relative;
}
.bottom_nav a {
height: 45px;
display: block;
margin: 0 auto;
position: relative;
color: #686868;
font-size: 12px;
}
.bottom_nav i {
display: block;
margin: 0 auto 3px;
width: 28px;
height: 28px;
background-size: 28px 28px;
}
/*.bottom_nav li:nth-of-type(1) i {
background-image: url("/m/4.2_bottomNav_1.png");
}

.bottom_nav li:nth-of-type(2) i {
background-image: url("/m/4.2_bottomNav_2.png");
}
.bottom_nav li:nth-of-type(3) i {
background-image: url("/m/4.2_bottomNav_3.png");
}
.bottom_nav li:nth-of-type(4) i {
background-image: url("/m/4.2_bottomNav_5.png");
}
.bottom_nav li:nth-of-type(5) i {
background-image: url("/m/4.2_bottomNav_4.png");
}*/
.home_box, .version {
background-color: #ededed;
}
.version {
text-align: center;
font-size: 13px;
color: gray;
background-color: #d6d6d6;
line-height: 36px;
}


/**/
.go-top {
opacity: 0;
width: 45px;
height: 45px;
position: fixed;
right: 15px;
bottom: 95px;
z-index: 89;
}
.go-top img {
width: 45px;
height: 45px;
}
/*首页*/
.bottom_nav {height: 25px;}
#botLinks {border-top:1px dashed #ccc; padding-top: 10px; font-size: 12px;}
#botLinks img,.version img{width: 20px; height: 20px; margin-right:5px; position: relative; top:6px;}
#botLinks li {width:25%;}
#botLinks a {height: 28px; line-height: 28px; white-space: nowrap; overflow: hidden; }
.version{ color: #424242; padding-top: 10px;}
.version a{ color: #424242; margin:5px 5px 0 5px; }
.share {text-align: center; font-size: 14px;}
.share a { display: inline-block; width: 56px; height: 56px; background: url(http://cdn.597.com/m/images/shareIco.jpg) 0 0; margin-bottom: 5px; }
#shareWeixin { background-position:0 -168px;}
#shareQQ{ background-position:0 -56px;}
#shareTengXun{ background-position:0 -112px;}
#cancel { background: #ddd; border-top: 1px solid #ccc; font-size: 18px; color: #1676C5;height: 40px;  line-height: 40px; width: 100%; clear: both;}
.share { background: #fff; position: fixed; bottom: 0; width: 100%; display: none;}
.share li { display: inline-block; width: 56px; text-align: center;  margin: 10px 5px;}
#blackWrap { background: rgba(0,0,0,0.3); width: 100%; position: absolute;  top: 0;display: none;}
#weixinBox { position: absolute; background: #fff; box-shadow: 0 1px 3px #999; padding: 10px; border-radius: 8px; border: 1px solid #999; line-height: 150%; text-align: left; display: none;display: none; left: -215px; bottom: 0px; width: 180px;display: none;}
#weixinBox  .imgWeixin { width: 180px;height: 180px;}
#weixinBox .close { float: right;  cursor: pointer;}

/*首页弹出城市*/
.popup { background-color: #fff; border-radius: 2px; display: none; left: 50%; margin-left: -42%; margin-top: -62px; position: fixed; top: 40%; width: 84%; z-index: 500; }
.popup-body { padding: 5px 8px; }
.popup-location .popup-head { display: none; }
.popup-head { border-bottom: 1px solid #d5d5d5; font-size: 15px; font-weight: 500; line-height: 39px; text-align: center; }
.popup-location .popup-body { padding: 9px 8px 1px;}
.popup-location .popup-body p { text-align: center; line-height: 30px; font-size: 14px; }
.popup-location .popup-body p strong { color: #67b700; font-weight: 500;  }
.popup-bar { padding: 8px 0; padding-left: 2%; }
.popup-bar .btn-group { display: block;  }
.btn-large { font-size: 16px; height: 42px; line-height: 42px; }
.btn-default { background-color: #fff; border: 1px solid #c8c6c4; color: #333; height: 30px; width: 48%; float: left; margin-bottom: 10px; }
.btn { border-radius: 2px; cursor: pointer; font: 14px/2em arial, microsoft yahei, sans-serif; margin: 0; outline: 1px solid rgba(0, 0, 0, 0.02); padding: 0; position: relative; text-align: center; text-decoration: none; }
.btn-primary { background-color: #65be63; border: 1px solid #51b94f; box-shadow: 0 1px 0 #7ee77c inset; color: #fff; height: 30px; width: 48%; margin-left: 2%; float: left; margin-bottom: 10px; }
.mask { background: #4b4b4b; width: 100%; height: 100%; opacity: .6; position: fixed; top: 0; left: 0; z-index: 100; }

/*搜索窗口*/
.schbox { width: 100%; }
.schBar { background: #e74c3c; box-shadow: 0 1px 2px #888 inset; height: 50px; position: relative; z-index: 1; margin-bottom: 15px; }
.schBar span { display: block; width: 100%; position: relative; z-index: 1; height: 46px; padding: 8px 0 0; }
.schBar span b { margin: 0 45px 0 45px; display: block; height: 30px; border-radius: 0; border: 1px solid #d92b17; background: #fff; }
.schBar input { width: 99%; display: block; border: 0; height: 30px; line-height: 30px; border-radius: 0; padding-left: 5px; }
.schBar a.closeBox { color: #fff; display: block; height: 50px; line-height: 50px; width: 40px; position: absolute; left: 0; z-index: 2; }
.schBar a.schBarBtn { color: #fff; height: 47px; line-height: 47px; position: absolute; right: 0; top: 0; width: 48px; text-align: center; z-index: 3; }
.searchbg { width: 80%; text-align: center; margin: 0 auto; padding: 15px 0; }

/*搜索窗口*/
.schbox{width:100%;}
.schBar{background:#e74c3c;box-shadow:0 1px 2px #888 inset;height:50px;position:relative; z-index:1;margin-bottom:15px;}
.schBar span{display:block;width:100%;position:relative; z-index:1;height:46px;padding:8px 0 0;}
.schBar span b{margin:0 45px 0 45px;display:block;height:30px;border-radius:0;border:1px solid #d92b17;background:#fff;}
.schBar input{width:99%;display:block;border:0;height:30px;line-height:30px;border-radius:0;padding-left:5px;}
.schBar a.closeBox{color:#fff;display:block;height:50px;line-height:50px;width:40px;position:absolute;left:0; z-index:2; text-align: center;}
.schBar a.schBarBtn{color:#fff;height:47px;line-height:47px;position:absolute;right:0;top:0;width:48px; text-align:center; z-index:3;}
/*热门职位*/
.hotJobs{padding:0 10px;text-align:left; font-size: 12px;}
.hotJobs h4{color:#bababa;margin-bottom:10px;padding:0 5px;}
.hotJobs .lst{overflow:hidden;}
.hotJobs .lst a{display:inline-block;margin:0 3px 5px;border:1px solid #ddd;background:#fff;height:35px;line-height:35px;overflow:hidden;color:#999;padding:0 5px;}
input {outline: none;}
/*jpFntWes*/
/*jpFntWes*/
@font-face {
	font-family: 'jpFntWes';
	src:url('http://cdn597.b0.upaiyun.com/css/font/fontawesome.eot');
	src:url('http://cdn597.b0.upaiyun.com/css/font/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('http://cdn597.b0.upaiyun.com/css/font/fontawesome.woff') format('woff'),
		url('http://cdn597.b0.upaiyun.com/css/font/fontawesome.ttf') format('truetype'),
		url('http://cdn597.b0.upaiyun.com/css/font/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}
.jpFntWes{
	font-family:'jpFntWes';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-size:22px;line-height:1;
}


.jpFntWes b{font-weight:normal;}
.jpFntWes i{font-style:normal;}
.jpFntWes a{display:inline-block;}