/*
page template
*/
body{background:#fff}
.position_main{padding-top:0;width:100%; margin:0 auto;background:#fff url("../bgImg/style40/bg.jpg") center repeat-y;}
#footer{text-align:center; margin:0 auto; height:159px; line-height:40px; color:#fff; background:url("../bgImg/style40/footer.jpg") center bottom no-repeat; font-family:Arial, Helvetica, sans-serif;}

/*style*/
.position_main .main_top_bg{background:url("../bgImg/style40/top_bg.jpg") bottom no-repeat;}
.position_main .main_top{padding-bottom:0;width:980px; margin:0 auto; background:transparent;border:0; height:85px; padding-top:13px}
.position_main .main_top .company_wel {width: 200px; margin:5px 0 0 0;text-align: center;}
.position_main .main_top .company_text {width: 700px; margin-left:20px;}
.position_main .main_top .company_text span,.position_main .main_top .company_text span a{}
.position_main .main_top .company_text span.name,.position_main .main_top .company_text span.add,.position_main .main_top .company_text span.info{width:700px;}

.position_main .main_banner{background:url("../bgImg/style40/banner.jpg") top no-repeat; height:300px;}

.position_main .main_body_bg{background:url("../bgImg/style40/body_topbg.jpg") top center no-repeat;}
.position_main .main_body_bg .topbg{height:0px; display:none; margin:0 auto; }
.position_main .main_body{width:978px;margin:0 auto; border:1px solid #dedede; background:#fff url("/commImage/ui/tree/tree_bg.gif") repeat-y -10px;}

.position_main .left_menu {width:204px;}
.position_main .left_menu .tab_btn_com.active{border-bottom:1px solid #568eb1; border-left:2px solid #2d6b92;background:#568eb1 url("/commImage/ui/tree/to2.gif") no-repeat 0px center; color:#fff}

.position_main .pos_list li a:hover{border-left:2px solid #dcedf8; background:#dcedf8; text-decoration:none}
.position_main .pos_list li.active a,.position_main .pos_list li.active a:hover,
.position_main .pos_list li.lastActive a{border-left:2px solid #2d6b92;  background:#568eb1 url("/commImage/ui/tree/to2.gif") no-repeat 0px center; color:#fff;}



/*pager*/
.detail_pager ul li.first {background-position:center -134px}
.detail_pager ul li.pre {background-position:center -167px}
.detail_pager ul li.next {background-position:center -199px}
.detail_pager ul li.last {background-position:center -230px}

.detail_pager ul li.first-empty {background-position:center -5px}
.detail_pager ul li.pre-empty {background-position:center -38px}
.detail_pager ul li.next-empty {background-position:-18px -70px}
.detail_pager ul li.last-empty {background-position:-18px -101px}
